*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    list-style: none;
    
}
:root{
    --bg--color:#222327;
    --text-color:#fff;
    --main-color:#0a36e6;
    --main-color2:#f6f8ff;
}

header{
    text-align: center;
    height: 200px;
    background-image:linear-gradient(rgb(16, 7, 73),rgb(87, 87, 207));
    border-radius: 0 0 50% 50%;

}

.title{
    padding-top: 26px;
    color: #f9faff;
}
.title h3{
    font-size: 100%;
    padding-top: 30px;
}
.title h1:hover{
    color:rgb(8, 8, 8);
    transition: 1.5s;
}
.title h3:hover{
font-size: 100%;
text-shadow:20;
transition: 2s;

color: #242424;
}
body{
    width: 100%;
    background-color: var(--main-color2);
}
.b1{
    margin: 20px;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-image:linear-gradient(rgb(255, 255, 255),rgba(152, 152, 255, 0.137));
}
.b1 img{
    
    align-items: center;
    color: var(--bg--color);
}

.b1:hover{
background-color: #0080ff6e;
transition: 0.8s;
}
nav{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin:0 20px;
}

.class{
    margin-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.class iframe{
    color: #39393a;
    margin: 10px;
    width: 500px;
    height: 300px;
    border: 1px solid;
}
#about_m{
    padding-top:20px ;
    height:200px;
    background-color:rgb(0, 0, 0);
    text-align: center;
}
#about_m h3{
    color: #ffffff;
   
}
.video{
    margin-top: 20px;
    background-image:linear-gradient(rgb(27, 26, 26) ,rgb(7, 7, 74));
}
.tp{
    text-align: center;
    padding-top:30px ;
    color: #f6f8ff;
    font-size: 30px;
}

